<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Repeater Stations - Table</title>

     <!--favicon link-->
     <link rel="shortcut icon" type="image/png" href="../static/img/favicon.png" />

     <!--bootstrap css-->
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

     <!--boostrap javascript-->
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>

     <!--d3 CDN-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>

     <!--leaflet css-->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin="" />

     <!--leaflet javascript-->
     <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
          integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
          crossorigin=""></script>

     <!--google font-->
     <link href="https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap" rel="stylesheet">

     <!--local css file-->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

</head>

<body>
     <nav class="navbar navbar-expand-sm bg-dark mb-0">
          <div class="container">
               <a class="navbar-brand" href="{{ url_for('index') }}">Southern California Amateur Radio Repeaters</a>
               <ul class="navbar-nav">
                    <li class="nav-item">
                         <a class="nav-link" href="{{ url_for('index') }}">Display Table</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="{{ url_for('rmap') }}">Display Map</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="{{ url_for('rgraph') }}">Display Graph</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="{{ url_for('repeaters') }}">Display Data</a>
                    </li>
               </ul>
          </div>
     </nav>

     <div class="jumbotron jumbotron-fluid mb-0">
          <div class="container">
               <!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
          </div>
     </div>

     <div class="ml-3 mr-2">
          <input type="text" id="cityLookup" onkeyup="citySearch()" placeholder="Search By City">
          <input type="text" id="countyLookup" onkeyup="countySearch()" placeholder="Search By County">
          <input type="text" id="statusLookup" onkeyup="statusSearch()" placeholder="Search By Status">
     </div>

     <div class="col-12 text-center">
          <table id="mainTable" class="table table-striped tableFixHead mx-auto">
               <thead class="thead-dark">
                    <tr>
                         <th class="text-center">Call Sign</th>
                         <th class="text-center">Location</th>
                         <th class="text-center">Frequency</th>
                         <th class="text-center">County</th>
                         <th class="text-center">Status</th>
                    </tr>
               </thead>
               <!--div to render data table from javascript-->
               <tbody></tbody>
          </table>
     </div>

     <!--jQuery CDN-->
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>

     <!--Plotly CDN-->
     <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

     <!--local JS dependencies-->
     <script src="{{ url_for('static', filename='js/config.js') }}"></script>
     <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>